{% extends 'base.html.twig' %}

{% block title %}Bareme modifié{% endblock %}

{% block body %}
{{message}}
<a href="http://webinfo.iutmontp.univ-montp2.fr/~cadarsir/pag/public/index.php/etudiant/noterEtudiant/{{identifiant}}\" > Retourner sur sa page </a>
{% endblock %}