<html>


    <p> Ici vous pouvez parametrer un paramètre ! </p>
    
   <form method = "get" action="http://webinfo.iutmontp.univ-montp2.fr/~cadarsir/pag/public/index.php/templates/etudiant/creationBareme.php">
1erParam: <input type="range" name="1param" min="0" max="10">
2erParam: <input type="range" name="2param" min="0" max="10">
3erParam: <input type="range" name="3param" min="0" max="10">
3erParam: <input type="range" name="4param" min="0" max="10">
Favori?  <input type="checkbox" id="favori" name="favori" value="favori">
<input type="submit">
</form>
</div>
</html>